body {
    font-weight: 400;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    font-family: "Montserrat", sans-serif;
    padding: 24px;
}

.feedback-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input,
textarea {
    border: 1px solid #808080;
    border-radius: 4px;
    min-width: 360px;
    min-height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

input:hover,
textarea:hover {
    border: 1px solid #000;
}

input:focus,
textarea:focus {
    outline: none;
}

button {
    border-radius: 8px;
    padding: 8px 16px;
    border: none;
    background-color: #4e75ff;
    font-weight: 500;
    color: #fff;
    margin-top: 8px;
}

button:hover {
    background-color: #6c8cff;;
}
